<a href="characters/{{charID}}">
    <div class='flex h-fit'>
        <div class='flex flex-col gap-2'>
            <div onClick={handleCardClick}
                class="characterCard container flex items-center text-center content-center justify-center min-h-[160px] min-w-[136px] w-full flex-col gap-2 border border-slate-300 rounded-lg cursor-pointer">
                <div class='characterPic'>
                    <!-- <Image class="inline-block h-12 w-12 rounded-lg ring-2 ring-white" src="/placeholder-character.png" width={48} height={48} alt="User Image" />  -->
                </div>
                <div class='characterText flex flex-col items-center'>
                    <div class='characterName'>
                        <!-- {name} -->
                        <ng-content></ng-content>
                    </div>
                    <div class='characterChronicle'>
                        <!-- {chronicle} -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>