<!-- <div id="four-clock">
    <label class="pie-checkbox-container1">
        <input type="checkbox" id="pie-checkbox">
        <span class="pie-slice1"></span>
    </label>
    <label class="pie-checkbox-container2">
        <input type="checkbox" id="pie-checkbox">
        <span class="pie-slice2"></span>
    </label>
    <label class="pie-checkbox-container3">
        <input type="checkbox" id="pie-checkbox">
        <span class="pie-slice3"></span>
    </label>
    <label class="pie-checkbox-container4">
        <input type="checkbox" id="pie-checkbox">
        <span class="pie-slice4"></span>
    </label>
</div> -->
<div echarts [options]="chartOptions" class="demo-chart"></div>